<div class="hbs_headers">	
	<div class="hidden mobileCheck"></div>

	<!-- nav bar -->
	<nav id="hbs_header" class="navbar" role="navigation">
	  <!-- navbar toggle menu-->
		<div class="navbar-header ">
		  <button type="button" class="navbar-toggle as_navbar_mobile_menu" data-toggle="collapse" data-target="#navbar_mobile_collapse">
		    <span class="sr-only">Toggle navigation</span>
		    <span class="icon-bar"></span>
		    <span class="icon-bar"></span>
		    <span class="icon-bar"></span>
		  </button>

		  <!-- navbar brand, left logo -->
		  <div class="navbar-brand as_navbar_brand">
			  <a href="/">
			  	<img class="navbar_logo" src="{{'logo.png' | asset_url }}" alt="HBS logo: student association shield"/>
			  </a>
			  <a href="/">
			  	<img class="navbar_logoWords" src="{{'logoWords.png' | asset_url}}" alt="HBS student association"/>
			  </a>
		  </div>
		</div> <!-- ./navbar-header -->

		<div class="collapse navbar-collapse" id="navbar_mobile_collapse">
		  <ul class="nav navbar-nav navbar-right"> 
			  {% for link in linklists.main-menu.links %}
		      <li role="presentation"> 
		        <a role="menuitem" tabindex="-1" href="{{ link.url }}"> {{ link.title }} </a> 
		      </li>
		    {% endfor %}
		    <li role="presentation">
		      <a role="menuitem" tabindex="-1" href="/cart"><span class="glyphicon glyphicon-shopping-cart"></span>({{cart.item_count}})</a>
		    </li>
		  </ul>
		</div> <!-- /.navbar-collapse -->
	</nav> <!-- /.navbar-->
</div>
