{% comment %} 
  - concatentate (capture) string to create a base 'name' attribute in settings for events, i.e.: "eventspage_" + number + "_" === "eventspage_0_"
  - check if the event display checkbox is true, if so, then capture string for other properties and display them
{% endcomment %}

working

<div class="eventspage_events_container">
	{% for i in (0...14) %}
	  {% capture base_string %}{{ 'eventspage_' | append: i | append: '_'}}{% endcapture %}

	  {% capture event_display %}{{ base_string | append: 'display'}}{% endcapture %}

	  {% if settings[event_display] == true %}
	    {% capture event_title %}{{ base_string | append: 'title' }}{% endcapture %}
	    {% capture event_date %}{{ base_string | append: 'date' }}{% endcapture %}
	    {% capture event_description %}{{ base_string | append: 'description' }}{% endcapture %}
	    {% capture event_picture %}{{ base_string | append: 'picture.png'}}{% endcapture %}
	    {% capture event_rsvp_link %}{{ base_string | append: 'rsvp'}}{% endcapture %}
	    {% capture event_rsvp_display %}{{ base_string | append: 'rsvp_display'}}{% endcapture %}

	    {% capture stringToSplit %}{{ event_title | append: ',' | append: event_date | append: ',' | append: event_description}}{% endcapture %}
	    {% include 'page_debugger' %}

	    <div class="eventspage_event_wrapper">

	    </div>

	  {% endif %}
	{% endfor %}
</div>