{% include 'pageInfoToJS' with 'page_events' %}

{% comment %} 
  - concatentate (capture) string to create a base 'name' attribute in settings for events, i.e.: "eventspage_" + number + "_" === "eventspage_0_"
  - check if the event display checkbox is true, if so, then capture string for other properties and display them
{% endcomment %}

<div class="container">
	{% include 'header' %}
</div>

<!-- outer container to limit the width, margin, and padding of events, 250px * 250px for pics, 3 on md devices, 2 on sm devices, 1 on xs -->
<div  id="page_container" class="eventspage_container {{page.handle}} {{template}} gl_clearfix">
  
  {% comment %}
  	<h1 class="eventspage_page_title block-title"> {{ page.title }} </h1>
  {% endcomment %}

	{% if page.content != blank %}
		<div class="eventspage_page_description">
			<h4 class="block-text">{{ page.content }}<h4>
		</div>
	{% endif %}

	<div class="eventspage_divider"></div>

  <div id="all_events">
	{% for i in (0...14) %}
	  {% capture base_string %}{{ 'eventspage_' | append: i | append: '_'}}{% endcapture %}

	  {% capture event_display %}{{ base_string | append: 'display'}}{% endcapture %}

	  {% if settings[event_display] == true %}
	    {% capture event_title %}{{ base_string | append: 'title' }}{% endcapture %}
	    {% capture event_start_date %}{{ base_string | append: 'start_date' }}{% endcapture %}
      {% capture event_end_date %}{{ base_string | append: 'end_date' }}{% endcapture %}

	    {% capture event_description %}{{ base_string | append: 'description' }}{% endcapture %}
      {% assign event_class = base_string | append: "cohort" %}
	    {% capture event_picture %}{{ base_string | append: 'picture.png'}}{% endcapture %}
	    {% assign event_pictureURL = base_string | append: 'picture_link' %}
	    {% capture event_rsvp_link %}{{ base_string | append: 'rsvp'}}{% endcapture %}
	    {% capture event_rsvp_display %}{{ base_string | append: 'rsvp_display'}}{% endcapture %}
	    {% assign event_location = base_string | append: 'location' %}
	    {% assign event_link = base_string | append: 'location_link' %}

	    <script>console.log( "class years" , {{ i | json}}, {{ settings[event_class]| json }})</script>

	    {% capture stringToSplit %}{{ event_title | append: ',' | append: event_date | append: ',' | append: event_description}}{% endcapture %}
	    {% include 'page_debugger' %}

      <!-- Beginning of individual event containers-->
	    <div class="eventspage_event_wrapper class_{{ settings[event_class]}}">
	      <p class="eventspage_event_date" data-startDate="{{settings[event_start_date]}}">
          {% if settings[event_end_date] != blank and settings[event_end_date] != "" and settings[event_end_date] != settings[event_start_date] %}

          <script>console.log( "data for: ", {{ settings[event_title] | json }})</script>
          <script>console.log( 'end not blank, diff than start', {{ event_end_date | json }})</script>
          
            {% assign splitStart = settings[event_start_date] | split: '/' %}
            {% assign splitEnd = settings[event_end_date] | split: '/' %}

            {% assign startDate = splitStart[0] | append: '/' | append: splitStart[1] %}
            {% assign endDate = splitEnd[0] | append: '/' | append: splitEnd[1] %}

            {{ startDate }} - {{ endDate }}, {{splitEnd[2]}}

            <script>console.log( 'splitStart', {{ splitStart| json }})</script>
            <script>console.log( 'splitEnd', {{ splitEnd | json }})</script>

          {% else %}
            {{ settings[event_start_date] }} 
          {% endif %}
        </p>
	      <div class="eventspage_event_info">
	        {% if settings[event_pictureURL] != "" %}
		        <img src="{{settings[event_pictureURL]}}" alt="event picture file" />
	        {% else %}
		        {{ event_picture | asset_url | img_tag: event_title }}
	        {% endif %}
	        <p class="eventspage_event_description">{{ settings[event_description] }}</p>
		      <div class="eventspage_event_title">{{ settings[event_title] }}</div>
	      </div>
	      {% if settings[event_rsvp_display] == true %}
	        <a class='eventspage_event_rsvp_link' target="_blank" href='{{ settings[event_rsvp_link] }}'> RSVP NOW! </a>
	      {% endif %}

			</div> <!-- /.eventspage_event_wrapper -->
	  {% endif %}
	{% endfor %}
  </div>

	<div id="class_sections">
		<div class="section" id="class_both">
			<div class="class_title">Cross-Year</div>
			<div class="class_events"></div>
		</div>

		<div class="eventspage_divider both"></div>
		
		<div class="section" id="class_rc">
			<div class="class_title">RC</div>
			<div class="class_events"></div>
		</div>

		<div class="eventspage_divider rc"></div>
		
		<div class="section" id="class_ec">
			<div class="class_title">EC</div>
			<div class="class_events"></div>
		</div>
	</div>

</div> <!-- end /#page_container.eventspage_container-->

<script>
$(function () {
  var divIDs = ['both', 'rc', 'ec'];

  var eventClasses = ['both', 'RC', 'EC'];

  eventClasses.forEach(function (el, index, array) {
  	var events = $('#all_events .class_' + el);
  	var sectionID = '#class_' + divIDs[index] + ' .class_events';

    // right here events need to be sorted...
    var wrappers = events
    window.recent = wrappers;
    var sliced = [];

    wrappers.each(function (i, el) {
      var dateEl = $('.eventspage_event_date', el)
      var date = new Date (dateEl.attr('data-startdate'));
      sliced.push({date: date, node: el});
    });

    console.log('sliced', sliced);

    sliced.sort(function (a,b) {
      if (a.date < b.date) { return -1; }
      else if (a.date > b.date) { return 1; }
      else { return 0; }
    });

    console.log('slice sorted: ', sliced);

    var sorted = $('<div></div>');

    sliced.forEach(function (el, i) {
      sorted.append(el.node);
    });

    //

  	if (sorted.length > 0) {
	  	$(sectionID).append(sorted);
  	
  	} else {
    // hide sections and separators that don't have any events
      var msg = $('<span class="noEvents">No events scheduled</span>');
      $(sectionID).append(msg);
  		// $(sectionID).addClass('hidden');
  		var divider = $('.eventspage_divider' + divIDs[index]);
  		if (divider.length > 0) { divider.addClass('hidden'); }
  	}

  });

})
</script>
