
{% comment %}
These are the 'name' variables used in the settings page
	Legend: About Us: Executive Team Profiles
	  Use this profile - checkbox :: aboutus_execprofile_0_display
	  Name - input :: aboutus_execprofile_0_name
	  Team position - input :: aboutus_execprofile_0_position
	  About yourself - text area :: aboutus_execprofile_0_description
	  Email - text input :: aboutus_execprofile_0_picture.png
	  Picture - file upload :: aboutus_execprofile_0_email
{% endcomment %}

{% comment %}
		<video controls class="hidden-xs" id="aboutus_video" preload="auto" autoplay="true" loop="loop" muted="muted" volume="0">
		  <source src="https://cdn.shopify.com/s/files/1/0595/0661/files/HBS_FIELD_3_Montage.ogv?7160" type="video/ogg">
		  <source src="//cdn.shopify.com/s/files/1/0595/0661/files/HBS_FIELD_3_Montage.mp4?6903" type="video/mp4">
		  I'm sorry; your browser doesn't support HTML5 video in WebM with VP8 or MP4 with H.264.
		   You can embed a Flash player here, to play your mp4 video in older browsers
		</video>
{% endcomment %}

{% include 'header' %}

<div id="page_container" class="aboutus_execprofile_container gl_clearfix">
	<!-- <h1 class="aboutus_execprofile_page_title"> {{ page.title }} </h1> -->
	{% if page.content != blank %}
		<h4 class="aboutus_execprofile_page_description"> {{ page.content }}</h4>
	{% endif %}
	<div class="aboutus_execprofile_divider"></div>
	
	{% unless settings['aboutus_meet_exec'] == blank %}
	{% endunless%}
	<h4 class="aboutus_execprofile_meet_blurb">Meet the Executive Team </h4>

	<div class="aboutus_execprofiles">
		{% for i in (0...14) %}
		  {% capture base_string %}{{ 'aboutus_execprofile_' | append: i | append: '_'}}{% endcapture %}

		  {% capture profile_display %}{{ base_string | append: 'display'}}{% endcapture %}

		  {% if settings[profile_display] == true %}
		    {% capture profile_name %}{{ base_string | append: 'name' }}{% endcapture %}
		    {% capture profile_position %}{{ base_string | append: 'position' }}{% endcapture %}
		    {% capture profile_description %}{{ base_string | append: 'description' }}{% endcapture %}
		    {% capture profile_picture %}{{ base_string | append: 'picture.png'}}{% endcapture %}
		    {% capture profile_email %}{{ base_string | append: 'email'}}{% endcapture %}
		    {% assign profile_linkedin = base_string | append: 'linkedin' %}

		    {% capture stringToSplit %}{{ profile_name | append: ',' | append: profile_position | append: ',' | append: profile_description}}{% endcapture %}

	      {% comment %} beginning of individual wrappers {% endcomment %}
	      {% assign specialClass = '' %}
	      {% if i == 1 %} {% assign specialClass = ' special-break' %} {% endif %}
			    <div class="aboutus_execprofile_profile_wrapper{{specialClass}}">
			      <div class="aboutus_execprofile_profile_info">
			        {{ profile_picture | asset_url | img_tag: profile_name }}
			        <p class="aboutus_execprofile_profile_description">{{ settings[profile_description] }}</p>
				      <div class="aboutus_execprofile_profile_name">{{ settings[profile_name] }}</div>
				      <div class="aboutus_execprofile_position-break" id="execprofile_position-break"></div>
				      <p class="aboutus_execprofile_profile_position">{{ settings[profile_position] }}</p>
			      </div>
				    <div class="aboutus_execprofile_profile_socialIcons">
					    {% if settings[profile_email] != blank %}
					      <a href="{{ 'mailto:' | append: settings[profile_email]}}">
					        <span class="glyphicon glyphicon-envelope"></span>
					      </a>
					    {% endif %}
					    {% if settings[profile_linkedin] != blank %}
					      <a href="{{ settings[profile_linkedin] }}" target="_blank">
					        <span class="shopify-social-icon-linkedin{{ settings.social_icons_style }}"> </span>
					      </a>
					    {% endif %}
				    </div>
		      </div> {% comment %}<!-- /.aboutus_execprofile_profile_wrapper -->{% endcomment %}
		      
	      {% if i == 1 or i == 5 or i == 8 %}
	        <div class="breaker"></div>
	      {% endif %}

		  {% endif %}
		{% endfor %}

	</div> <!-- END /.aboutus_execprofiles -->

  <div class="aboutus_sectionOfficer_divider"></div>
</div> <!-- END /.page_container .aboutus_execprofile_container-->

	<div class="container-fluid table-container">
	  <div class="row">
		  <h4 class="block-title center-block page-header">Meet the Section Officers</h4>
			<div class="col-xs-12 tableWrapper table-responsive">
			  {% include 'page_about-us_table' %}
			</div>
	  </div>
	</div><!-- END /.table-container-->

<script>
  // give the page a value
  hbsApp.template = {{ template | json }};
  hbsApp.page = {{ page.handle | json }};
  console.log('temp: ', hbsApp.template, ', page: ', hbsApp.page);

  // this simulates hover on ipads
  var containerWindow = $('.aboutus_execprofile_container');
  var sampleWrapper = $('.aboutus_execprofile_profile_wrapper')[0];
	$('.aboutus_execprofile_profile_info').on('click', function () {
		$(this).hover();
	});

  // this is to to reaculate wrapping / separator NOT WORKING
	var calculateWrap = function () {
		var img = $(sampleWrapper);
		var result = 0;
		var addList = ['margin-left', 'margin-right', 'width', 'padding-left', 'padding-right', 'border-left-width', 'border-right-width'];
		for (var i = 0; i < addList.length; i++) {
			result += parseInt(img.css(addList[i]), 10);
		}
    console.log('individual wrap width: ', result, result*2, containerWindow.css('width'));
		return result;
	};
  
  $(window).resize(function () {
  	if (parseInt(containerWindow.css('width'), 10) < calculateWrap() * 2) {
  		console.log('adding hidden');
		  $('.breaker').addClass('hidden');
  	} else {
  		$('.breaker').removeClass('hidden');
  		console.log('remove hidden');
  	}
  });

</script>