{% include 'pageInfoToJS' with 'page_sponsors' %}

<div class="container">
  {% include 'header' %}
</div>

<div id="page_container" class="container {{page.handle}} {{template}}">

  {% if page.content != blank and page.content != ""  %}
    <h4 id="page-content" class="block-text"><span>{{page.content}}<span></h4>
  {% endif %}

  {% comment %}
    levels
  {% endcomment %}
  {% for i in (0..7) %}
    {% assign base = "sponsor_level_" | append: i | append: "_" %}
    {% assign title = base | append: "title" %}

    {% assign level = settings[title] %}
    {% if level != blank and level != "" %}
      {% assign blurb = base | append: "blurb" %}
      {% assign blurb = settings[blurb] %}

      <div id="{{level}}" class="level {{level}}">
        <h3 class="block-title">{{ level }} </h3>
        
        {% if blurb != blank and blurb != "" %}
          <p class="block-text"> {{ blurb }}</p>
        {% endif %}

        {% for j in (0..5) %}

          {% assign ibase = "sponsor_" | append: j | append: "_" %}
          {% assign iname = ibase | append: "name" %}
          {% assign ilevel = ibase | append: "level" %}
          {% assign ievents = ibase | append: "events" %}
          {% assign iblurb = ibase | append: "blurb" %}
          {% assign ilogo = ibase | append: "logo" %}
          {% assign ilogo_link = ibase | append: "logo_link" %}

          {% assign iname = settings[iname] %}
          {% assign ilevel = settings[ilevel] %}
          {% assign ievents = settings[ievents] %}
          {% assign ilogo = settings[ilogo] %}
          {% assign ilogo_link = settings[ilogo_link] %}

          {% if ilevel != blank and ilevel != "" and ilevel == level %}
            {% comment %} <div class="wrapper col-sm-6 col-md-4 col-lg-3"> {% endcomment %}
            <div class="wrapper">

              {% if ilogo_link != blank and ilogo_link != "" %}
                {% assign isrc = ilogo_link %}
              {% else %}
                {% assign isrc = ilogo | asset_url %}
              {% endif %}

              <div class="image">
                <img src="{{isrc}}"/>
              </div>

              {% if iname != blank and iname != "" %}
                <h4 class="block-title name">{{iname}}</h4>
              {% endif %}

              {% comment %} if there are multiple events, then pluralize events {% endcomment %}
              {% assign length = ievents | split: ',' | size %}
              {% if length > 1 %}
                {% assign plural = "s" %}
              {% else %}
                {% assign plural = "" %}
              {% endif %}

              {% if ievents != blank and ievents != "" %}
                <p class="block-title events"><span>Sponsored {{"event" | append: plural }}:</span> {{ievents}}</p>
              {% endif %}

            </div> <!-- END /.wrapper -->
          {% endif %}
        {% endfor %}

      </div> <!-- END /.row level-->
      <div class="separator"><div></div></div>
    {% endif %}
  {% endfor %}
</div> <!-- END /.container-->

