{% assign dataInterval = settings["homepage_slideshow_interval"] %}
{% if dataInterval == blank or dataInterval == "" %}
  {% assign dataInterval = 4000 %}
{% endif %}

<div id="frontpage_carousel" class="carousel fade" data-interval="{{ dataInterval }}" data-ride="carousel">
  <!-- Indicators -->
  {% assign once_carousel = true %}
  <ol class="carousel-indicators">
  {% for i in (0..5) %}
    {% assign base = "homepage_slideshow_pic_" | append: i %}
    {% assign display = base | append: "_display" %}
    {% if settings[display] == true %}
      {% if once_carousel == true %}
        <li data-target="#frontpage_carousel" data-slide-to="{% increment counter %}" class="active"></li>
        {% assign once_carousel = false %}
      {% else %}
        <li data-target="#frontpage_carousel" data-slide-to="{% increment counter %}"></li>
      {% endif %}
    {% endif %}
  {% endfor %}
  </ol>

  {% assign once_carousel = true %}
  <div class="carousel-inner">
  {% for i in (0..5) %}
    {% assign base = "homepage_slideshow_pic_" | append: i %}
    {% assign display = base | append: "_display" %}

    {% if settings[display] == true %}
      {% assign picture_file = base | append: ".png" %}
      {% assign pictureURL = base | append: "_link"%}
      {% assign pictureCaptionHeader = base | append: "_captionHeader" %}
      {% assign pictureCaption = base | append: "_caption" %}
      {% assign pictureNavLink = base | append: "_navLink"%}
      {% assign pictureUrlLink = base | append: "_urlLink"%}
      {% if settings[pictureUrlLink] != "" or settings[pictureUrlLink] != blank %}
        {% assign href = settings[pictureUrlLink] %}
      {% else %}
        {% assign href = settings[pictureNavLink] %}
      {% endif %}

      {% if once_carousel == true %}
        <div class="item active">
        {% assign once_carousel = false %}
      {% else %}
        <div class="item">
      {% endif %}

      {% if href != blank and href != "" %} <a href="{{href}}"> {% endif %}
      {% if settings[pictureURL] != blank %}
          <img src="{{settings[pictureURL]}}" alt="{{ 'slideshow file picture' | append: i}}"/>
      {% else %}
        {{ picture_file | asset_url | img_tag: "file upload picture" }}
      {% endif %}
        
          <div class="carousel-caption">

            {% assign captionHeader = settings[pictureCaptionHeader]%}
            {% if  captionHeader != blank and captionHeader != "" %}
              <h4 class="block-title">{{captionHeader}}</h4>
            {% endif %}

            {% assign caption = settings[pictureCaption]%}
            {% if  caption != blank and caption != "" %}
              <p class="block-text">{{caption}}</p>
            {% endif %}

          </div>
      {% if href != blank and href != "" %} </a> {% endif %}
        </div>
    {% endif %}
  {% endfor %}
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#frontpage_carousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#frontpage_carousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>

<script>
  $("#frontpage_carousel .carousel-caption").each(function (index) {
    var prev = $(this).prev();
    if (prev && prev.attr('href')) {
      var anchor = $('<a></a>')
    }
  });
</script>
