{% for i in (0..19) %}
  {% capture base_string %}{{ 'eventspage_' | append: i | append: '_'}}{% endcapture %}
  {% capture event_display %}{{ base_string | append: 'display'}}{% endcapture %}
  {% assign event_display_frontpage = base_string | append: "display_frontpage" %}

  {% if settings[event_display] == true and settings[event_display_frontpage] == true %}     

    {% capture event_title %}{{ base_string | append: 'title' }}{% endcapture %}
    {% capture event_date %}{{ base_string | append: 'date' }}{% endcapture %}
    {% capture event_description %}{{ base_string | append: 'description' }}{% endcapture %}
    {% capture event_picture %}{{ base_string | append: 'picture.png'}}{% endcapture %}
    {% assign event_picture_link = base_string | append: 'picture_link' %}
    {% capture event_rsvp_link %}{{ base_string | append: 'rsvp'}}{% endcapture %}
    {% capture event_rsvp_display %}{{ base_string | append: 'rsvp_display'}}{% endcapture %}
    {% assign event_location = base_string | append: 'location' %}
    {% assign event_location_link = base_string | append: 'location_link' %}

    <div class="row{% cycle ' img-left', ' img-right' %}{% cycle ' info-right', ' info-left' %} eventWrapper">
      <div class="col-xs-8 {% cycle 'col-xs-push-4', '' %}">
          <div class="eventInfo">
            <h4 class="frontpage_event_title">{{ settings[event_title] }}</h4>
            <h5 class="frontpage_event_date">{{ settings[event_date] }}</h5>

            <h5 class="frontpage_event_location">
            {% if settings[event_location_link] != blank and settings[event_location_link] != "" %}
              <a href="{{settings[event_location_link]}}">{{ settings[event_location] }}</a>
            {% else %}
              {{ settings[event_location] }}
            {% endif %}
            </h5>
            <h4 class="frontpage_event_description">{{ settings[event_description] }}</h4>        
            {% if settings[event_rsvp_display] == true %}
              <a href="{{ settings[event_rsvp_link]}}" target="_blank"> RSVP!</a>
            {% endif %}
          </div>
      </div> <!-- END events info /.col-xs-8 -->

      {% assign eventPictureURL = settings[event_picture_link] %}
      {% if eventPictureURL == blank or eventPictureURL == "" %}
          {% assign eventPictureURL = event_picture | asset_url %}
      {% endif %}

      <div class="col-xs-4 {% cycle 'col-xs-pull-8', '' %}">
          <div class="eventPicture {% cycle 'pull-left', 'pull-right' %}">
            <img class="frontpage_upcomingevents_picture" src="{{ eventPictureURL }}" alt="event picture {{i}}"/>    
          </div>
      </div> <!-- END event img /.col-xs-4 -->
      <div class="col-xs-12 event_descriptionTemp"></div>
    </div>
  {% endif %}
{% endfor %}
