{% for i in (0..4) %}
  {% capture base_string %}{{ 'eventspage_' | append: i | append: '_'}}{% endcapture %}
  {% capture event_display %}{{ base_string | append: 'display'}}{% endcapture %}

  {% if settings[event_display] == true %}     

    {% capture event_title %}{{ base_string | append: 'title' }}{% endcapture %}
    {% capture event_date %}{{ base_string | append: 'date' }}{% endcapture %}
    {% capture event_description %}{{ base_string | append: 'description' }}{% endcapture %}
    {% capture event_picture %}{{ base_string | append: 'picture.png'}}{% endcapture %}
    {% capture event_rsvp_link %}{{ base_string | append: 'rsvp'}}{% endcapture %}
    {% capture event_rsvp_display %}{{ base_string | append: 'rsvp_display'}}{% endcapture %}
    {% assign event_location = base_string | append: 'location' %}
    {% assign event_location_link = base_string | append: 'location_link' %}

    <div class="row">
      <div class="col-xs-8 {% cycle 'col-xs-push-4', '' %}">
      {% comment %}
        
        <p class="frontpage_event_title">{{ settings[event_title] }}</p>
        <p class="frontpage_event_date">{{ settings[event_date] }}</p>
        <p class="frontpage_event_location">{{ settings[event_location] }}</p>
        <p class="frontpage_event_description">{{ settings[event_description] }}</p>

      {% endcomment %}
        <h4 class="frontpage_event_title">{{ settings[event_title] }}</h4>
        <h5 class="frontpage_event_date">{{ settings[event_date] }}</h5>
        <h5 class="frontpage_event_location">{{ settings[event_location] }}</h5>
        <h4 class="frontpage_event_description">{{ settings[event_description] }}</h4>        
        {% if settings[event_rsvp_display] == true %}
          <a href="{{ settings[event_rsvp_link]}}"> RSVP!</a>
        {% endif %}
      </div>

      <div class="col-xs-4 {% cycle 'col-xs-pull-8', '' %}">
        <img class="frontpage_upcomingevents_picture" src="{{ event_picture | asset_url }}" alt="event picture {{i}}"/>    
      </div>
    </div>
  {% endif %}
{% endfor %}