<!doctype html>

<html>
    <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <!--
        The next couple of lines are based off of shopify's SEO suggestions: 
        http://docs.shopify.com/support/other/general-information/seo-for-theme-designers
      -->
      <title>
        {{ page_title }}{% if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif %}{% if current_page != 1 %} &ndash; Page {{ current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
      </title>

      {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}" />
      {% endif %}
      
      <link rel="canonical" href="{{ canonical_url }}" />

      <!-- Shopify theme requirement: injects Shopify's header code -->
      {{ content_for_header }}

      <!-- Additional Shopify helpers that will likely be added to the global shopify_common.js some day soon. Part of the original shopify skeleton  -->
      {{ 'shopify_common.js'  | asset_url | script_tag }}
      {{ 'option_selection.js' | shopify_asset_url | script_tag }}
  
      <!-- jQuery 2.x (IE < 9 not supported) -->
      {{ '//code.jquery.com/jquery-git2.min.js' | script_tag }}

      <!-- Bootstrap 3.2.0
        as suggested here: http://emeraldthemes.com/how-to-add-bootstrap-to-a-shopify-theme/
      -->
      {{ '//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css' | stylesheet_tag }}
      {{ '//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css' | stylesheet_tag }}
      {{ '//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js' | script_tag }}

      <!-- Our own customized CSS stylesheet code -->
      {{ 'social/social-icons.css' | global_asset_url | stylesheet_tag }}
      {{ 'style.css' | asset_url | stylesheet_tag }}

      <!-- Our custom javascript code -->
      {{ 'helperFunctions.js' | asset_url | script_tag }}
      {{ 'main.js' | asset_url | script_tag }}
    </head>
    <body>

      <!-- since each of the templates will be using bootstrap, the header and the content_for_layout will be wrapped in a .container div-->
        {{ content_for_layout }}
    </body>
</html>
