

<div class='container-fluid'>
  {% include 'header' %}
  <div class="row row_all">
    <div class="col-sm-3 catalog_all_leftmenu">
      <h3> HBS SA Products </h3>
      <p>The Student Association Office offers a variety of products for HBS students to make their experience even better. Our Product Managers (who are also HBS Partners!) are located right across from The Grille in Spangler, and are always happy to field any questions. The office is open Monday to Thursday from 10am to 4pm. They can also be reached by phone at 617-496-6854. Please note that we will close for the summer on May 15, 2014.</p>
      {% include 'menu_vertical' %}
    </div> <!-- ./catalog_hbs_leftmenu col-sm-3 -->

    <div class="col-sm-9">
      <div class="row catalog_all_product_pic">
        <div class="col-sm-9 catalog_product_picture">
          {{ collections.frontpage-featured-product.products[0].featured_image | img_url: 'large' | img_tag }}
        </div>

      </div> <!-- ./row catalog_all_product_pic-->

      <div class="row catalog_all_product_description_tabs">
        <div class="col-sm-12">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li class="active"><a href="#description" role="tab" data-toggle="tab">Description</a></li>
            <li><a href="#embroidery" role="tab" data-toggle="tab">Custom Embroidery</a></li>
            <li><a href="#sizing" role="tab" data-toggle="tab">Sizing Chart</a></li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content">
            <div class="tab-pane active" id="description"> This is a description of shirt </div>
            <div class="tab-pane" id="embroidery">Type you want below this line: </div>
            <div class="tab-pane" id="sizing">x-large === very big!!</div>
          </div>
        </div>
      </div> <!-- ./row catalog_all_product_description_tabs-->
    </div> 
  </div> <!-- /.row_all-->
</div> <!-- /.container-fluid -->




{% comment %}
===============================================================================
    EVERYTHING BELOW THIS IS ORIGINAL SHOPIFY SKELETON COLLECTION CODE
===============================================================================

{% comment %}
  Important notes about pagination:
  - Never access collection.products before the opening paginate tag.
  - Never paginate by more than 50.
{% endcomment %}

{% assign products_per_page = settings.products_per_row | times: settings.number_of_rows %}
{% assign numbers = 'one, two, three, four, five, six' | split: ',' %}
{% assign products_per_row = settings.products_per_row | minus: 1 %}
{% assign products_per_row = numbers[products_per_row] | strip | append: '-per-row' %}

{% paginate collection.products by products_per_page %}

{% comment %}
  Re-use the .rte class wherever you output content that was added by a merchant using
  the Rich Text Editor ( 'rte' stands for rich text editor ).
  Style all HTML elements in that content the same way across the board.
  Use the .rte class in your CSS to help maintain consistency.
  Example: the h2 element should have the same size and color in:
  - product descriptions
  - collection descriptions
  - page content
  - blog post
{% endcomment %}

<h1 class="left">{{ collection.title }}</h1>

<script>console.log("collection: ", {{ collection | json }}, "\bend collection\n\n")</script>
<script>console.log("collection.handle: ", {{ collection.handle | json }})</script>


{% comment %}
  Collection sorting. Needs the JavaScript that is at the bottom of this file.
{% endcomment %}
{% if collection.products_count > 1 %}
<select class="sort-by right">
  <option value="manual">Featured</option>
  <option value="price-ascending">Price: Low to High</option>
  <option value="price-descending">Price: Hight to Low</option>
  <option value="title-ascending">A-Z</option>
  <option value="title-descending">Z-A</option>
  <option value="created-ascending">Oldest to Newest</option>
  <option value="created-descending">Newest to Oldest</option>
  <option value="best-selling">Best Selling</option>
 </select>
{% endif %}

{% comment %}
  Listing all tags within the current collection.
  Shopify uses product tags to manage subcategories inside collections.
  See 'How do I create subcategories of products?' at 
  http://bit.ly/1j1Dti4 for details.
{% endcomment %}

{% if collection.all_tags.size > 0 %}
<ul class="subcategories clearfix clear">
  <li class="{% unless current_tags %} active{% endunless %}">
    {{ 'All' | link_to_remove_tag: current_tags.first }}
  </li>
  {% for tag in collection.all_tags %}
  {% if current_tags contains tag %}
  <li class="active">
    {{ tag | link_to_remove_tag: tag }}
  </li>
  {% else %}
  <li>
    {{ tag | link_to_tag: tag }}
  </li>
  {% endif %}
  {% endfor %}  
</ul>
{% endif %}

{% if collection.description.size > 0 %}
<div class="rte">
  {{ collection.description }}
</div>
{% endif %}

<ul class="grid clearfix">
{% for product in collection.products %}
  {% include 'product-grid-item' with products_per_row %}
{% else %}
  <li>There are no products in this view.</li>
{% endfor %}
</ul>

{% if paginate.pages > 1 %}
<div class="pagination centered">
  {{ paginate | default_pagination }}
</div>
{% endif %}

{% endpaginate %}

{% comment %}
  JavaScript for collection sorting.
{% endcomment %}
<script>
jQuery('.sort-by')
  .val('{{ collection.sort_by | default: collection.default_sort_by }}')
  .on('change', function() {
    Shopify.queryParams.sort_by = jQuery(this).val();
    location.search = jQuery.param(Shopify.queryParams);
  });
</script>

{% endcomment %}