<div class="row">
  
  <div class="col-md-4 frontpage_md_leftColumn">
    
    <div class="frontpage_md_contact">
      contact box
    </div>

    <div class="rte frontpage_md_upcomingEvents">
      upcoming events
      {{ collections.frontpage-upcoming-events.description }}

      <script> 
        console.log('collections: ', {{ collections | json }});
        console.log('settings: ', {{ settings | json }});
        console.log('collection product: ', {{ collections.frontpage-featured-product.products | json }});
      </script>

    </div>

    <div class="rte frontpage_md_pulseFeature">
      pulse feature
      {{ collections.frontpage-pulse-feature.description }}
    </div>

    <div class="frontpage_md_featuredProduct">
      featured product
      {{ collections.frontpage-featured-product.products[0].featured_image | img_url: 'large' | img_tag }}
    </div>

  </div> <!-- end col-md-4 left column-->

  <div class="col-md-8 frontpage_md_rightColumn">
  
    <div class="frontpage_md_slideshow">
      slideshow start
      {% if settings.homepage_slideshow_pic_0_checkbox == true %}
        {{ 'homepage_slideshow_pic_0.png' | asset_url | img_tag: 'Student association jumping' }}
      {% endif %}
      slideshow end
    </div>
  
    <div class="rte frontpage_md_mission">
      mission statement
      {{ pages.frontpage.content }}
    </div>

    <div class="rte frontpage_md_pulseNews">
      pulse news
      {{ collections.frontpage-pulse-news.description }}
    </div>
      
  </div> <!-- end col-md-8 right column -->

</div> <!-- end row -->


{% comment %}
===============================================================================================
===============================================================================================
  EVERYTHING BELOW THIS LINE IS FROM THE SHOPIFY SKELETON
===============================================================================================
===============================================================================================
  {% comment %}

    Re-use the 'rte' class wherever you output content that was added by a merchant using the Rich Text Editor ( 'rte' stands for rich text editor ).
    Style all HTML elements in that content the same way across the board.
    Use the 'rte' class in your CSS to help maintain that consistency.
    Example: the h2 element should have the same size and color in:
    - product descriptions
    - collection descriptions
    - page content
    - blog posts
  {% endcomment %}

  {% comment %}
    Very important reading:
    http://docs.shopify.com/themes/liquid-basics/what-is-true-and-false-in-liquid
    Learn how to read theme settings in your theme.
  {% endcomment %}

  {% unless settings.homepage_page == blank or pages[settings.homepage_page].empty? %}
  {% assign page = pages[settings.homepage_page] %}
  <div class="rte grid-margins">
    {{ page.content }}
  </div>
  {% endunless %}

  {% unless settings.homepage_collection == blank or collections[settings.homepage_collection].empty? %}
  {% assign collection = collections[settings.homepage_collection] %}
  <ul class="grid clearfix">
  {% for product in collection.products %}
    {% include 'product-grid-item' with 'three-per-row' %}
  {% else %}
  <li>
    <p>
      You have no products in your {{ collections[settings.homepage_collection].title }} collection. 
      <a href="http://www.shopify.com/admin/collections">Add some.</a>
    <p>
  </li>
  {% endfor %}
  </ul>
  {% endunless %}

{% endcomment %}