{% include 'header' %}

<div id="frontpage_container" class="container-fluid">

  <div id="frontpage_row" class="row">
    <div class="col-sm-9 frontpage_md_leftColumn">
        <div class="row frontpage_md_slideshow">
          {% include 'picture_carousel' %}
        </div>

        <div class="frontpage_rte frontpage_md_mission frontpage_block_content">
          <h3 class="frontpage_mission_title">Mission</h3>
          <h4>{{ pages.frontpage.content }}</h4>
        </div>
      <!-- --> 
      <div class="frontpage_separator hidden-xs"></div>

      <div class="row frontpage_md_leftColumn_innerRow">   
          <div class="col-sm-7 frontpage_rte frontpage_md_pulseNews frontpage_block_content">
            <h3><span>{{ collections.frontpage-pulse-news.title }}<span></h3>
            <div class="frontpage_pulseNews_text"> 
              {{ collections.frontpage-pulse-news.description }}
            </div>
          </div>

          <div class="col-sm-4 col-sm-offset-1 frontpage_md_featuredProduct frontpage_block_content">
            <h3><span>Featured Product</span></h3>
            {{ collections.frontpage-featured-product.products[0].featured_image | img_url: 'large' | img_tag }}
            <h4>{{ collections.frontpage-featured-product.products[0].title }}</h4>
          </div>
      </div> <!-- ./frontpage_md_leftColumn_innerRow -->
    </div> <!-- end col-sm-9 left column -->
  
    <!-- separating rows in mobile -->
    <div class="frontpage_separator hidden-sm hidden-md hidden-lg">
    </div>

    <div class="col-sm-3 frontpage_md_rightColumn">
      
      <div class="frontpage_md_contact frontpage_block_content">
        <h3>Contact Us!</h3>
          {% include 'social-links' %}
      </div>

      <div class="frontpage_rte frontpage_md_upcomingEvents frontpage_block_content">
        <h3>Upcoming Events</h3>
        {{ collections.frontpage-upcoming-events.description }}
      </div>

      <div class="frontpage_rte frontpage_md_pulseFeature frontpage_block_content">
        <h3> Pulse Feature </h3>
        {{ collections.frontpage-pulse-feature.description }}
      </div>

    </div> <!-- end col-sm-3 right column-->

  </div> <!-- end row -->
</div>


{% comment %}
===============================================================================================
===============================================================================================
  EVERYTHING BELOW THIS LINE IS FROM THE SHOPIFY SKELETON
===============================================================================================
===============================================================================================
  {% comment %}

    Re-use the 'rte' class wherever you output content that was added by a merchant using the Rich Text Editor ( 'rte' stands for rich text editor ).
    Style all HTML elements in that content the same way across the board.
    Use the 'rte' class in your CSS to help maintain that consistency.
    Example: the h2 element should have the same size and color in:
    - product descriptions
    - collection descriptions
    - page content
    - blog posts
  {% endcomment %}

  {% comment %}
    Very important reading:
    http://docs.shopify.com/themes/liquid-basics/what-is-true-and-false-in-liquid
    Learn how to read theme settings in your theme.
  {% endcomment %}

  {% unless settings.homepage_page == blank or pages[settings.homepage_page].empty? %}
  {% assign page = pages[settings.homepage_page] %}
  <div class="rte grid-margins">
    {{ page.content }}
  </div>
  {% endunless %}

  {% unless settings.homepage_collection == blank or collections[settings.homepage_collection].empty? %}
  {% assign collection = collections[settings.homepage_collection] %}
  <ul class="grid clearfix">
  {% for product in collection.products %}
    {% include 'product-grid-item' with 'three-per-row' %}
  {% else %}
  <li>
    <p>
      You have no products in your {{ collections[settings.homepage_collection].title }} collection. 
      <a href="http://www.shopify.com/admin/collections">Add some.</a>
    <p>
  </li>
  {% endfor %}
  </ul>
  {% endunless %}

{% endcomment %}