{% if template != "" %}{% assign templateClass = template %}{% endif %}
{% if page.handle != "" %}{% assign pageClass = page.handle %}{% endif %}

{% include 'pageInfoToJS' with 'index' %}

<div class="container">
  {% include 'header' %}
</div>

<div id="page_container" class="container {{templateClass}} {{pageClass}}">

  <div class="row frontpage_md_slideshow">
    {% include 'picture_carousel' %}
  </div>

  <div id="frontpage_row" class="row">
    <div class="col-sm-8 frontpage_md_leftColumn">

      <div class="frontpage_separator hidden-xs"></div>

      <div class="row frontpage_md_leftColumn_innerRow">  
          <h3 class="block-title">Upcoming Events</h3>
          <div class="col-sm-12 frontpage_rte frontpage_md_upcomingEvents frontpage_block_content">
            {% include 'upcomingEventsGrid' %}
          </div>

          <div id="featuredProducts" class="col-sm-12 frontpage_md_featuredProduct frontpage_block_content">
            <h3 class="block-title">Featured Products</h3>
            {% include 'featuredProductFP' %}

            {% comment %}
            <div class="row featured-product-wrapper">
              <div class="col-sm-6">
                <h4>{{ collections.featured-product.products[0].title }}</h4>
                <p> {{ collections.featured-product.products[0].description }}</p>
                <h5>{{ collections.featured-product.products[0].price | money}}</h5>
              </div>

              <div class="col-sm-6">
                <img src="{{collections.featured-product.products[0].featured_image | img_url: 'large'}}" alt="featured product image"/>       
              </div>
            </div> <!-- /.featured-product-wrapper -->
            {% endcomment %}
          </div> <!-- /.frontpage_md_featuredProduct block_content-->


      </div> <!-- /.frontpage_md_leftColumn_innerRow -->
    </div> <!-- end col-sm-9 left column -->
  
    <!-- separating rows in mobile -->
    <div class="frontpage_separator hidden-sm hidden-md hidden-lg">
    </div>

    <div class="col-sm-4 frontpage_md_rightColumn">
      
      <div class="row">
        <div class="col-xs-12 frontpage_md_contact frontpage_block_content">
          <h3 class="block-title">Contact Us!</h3>
          <div class="social-links">
            {% include 'social-links' %}
          </div>
        </div>
      </div>

{% comment %}
      <div class="row">
        <div class="col-xs-12 frontpage_rte frontpage_md_pulseNews frontpage_block_content">
          <h3 class="block-title">{{ collections.frontpage-pulse-news.title }}</h3>
          <div class="frontpage_pulseNews_text"> 
            {{ collections.frontpage-pulse-news.description }}
          </div>
        </div>
      </div>
{% endcomment %}

      <div class="row">      
        <div class="col-xs-12 frontpage_rte frontpage_md_pulseFeature frontpage_block_content">
          <h3 class="block-title"> Pulse Feature </h3>
          {{ collections.frontpage-pulse-feature.description }}
        </div>
      </div>

      {% assign facebook_url = settings['facebook_url'] %}
      {% if facebook_url != blank and facebook_url != "" %}
        <div class="row">
          <div id="fb-wrap" class="fb-like-box" data-href="http:{{facebook_url}}" data-colorscheme="light" data-show-faces="false" data-header="false" data-stream="true" data-show-border="false"></div>
        </div>
      {% endif %}


    </div> <!-- end col-sm-3 right column-->

  </div> <!-- end row -->
{% include 'footer' %}
</div> <!-- END /.container #page_container -->

<script>
  $(function () {


    /*
      - adjust FB feed using inline css
        + on mobile -> 

    */

    // adjust FB feed on the index page so that on NON-mobile devices (laptops/desktops), xs screen width will have 100% width expansion while, everything else will be at a fixed width determined by fb

  /*
    var adjustFBfeed = function () {
      if (!oldSpanWidth || !oldIframeWidth) {
        console.log("\nold span" ,oldSpanWidth, ", old iframe", oldIframeWidth, ', exp:', !oldSpanWidth || !oldIframeWidth);
        oldSpanWidth = $("#fb-wrap > span").css('width');
        oldIframeWidth = $("#fb-wrap iframe").css('width');

      } else {      
        var check = hbsApp.getMobileCheck();
        console.log("resize triggered, now: ", check, ", previous: ", prevSize);
        if (check === "xs" && prevSize !== 'xs') {
          console.log('to xs');
          $("#fb-wrap > span").css({
            width: "100%",
          });
          $("#fb-wrap iframe").css({
            width: "100%"
          });
          $("#fb-wrap").css({})
        } else if (check !== 'xs' && prevSize === 'xs') {
          console.log('back to original: ', oldSpanWidth, oldIframeWidth);
          $("#fb-wrap > span").css({
            width: oldSpanWidth
          });
          $("#fb-wrap iframe").css({
            width: oldIframeWidth
          });
        }
      }
      prevSize = check;
    };

    // closure variables for resize function
    var prevSize = null;
    var oldSpanWidth, oldIframeWidth;
    var css = {width: "100%"};

    var setWidth = function (selector, time, css) {
      setTimeout(function () {
        var dom = $("#fb-wrap iframe");
        if (dom && dom.css('width') && dom.css('width').search(/px/) < 0) {
          setWidth(selector, time, css);
        } else {
          $(selector).css(css);
        }
      }, time);
    };

    setWidth("#fb-wrap", 200, css);

    $(window).on("resize", function () {
      adjustFBfeed();
    });
  */

  });

</script>

{% comment %}
===============================================================================================
===============================================================================================
  EVERYTHING BELOW THIS LINE IS FROM THE SHOPIFY SKELETON
===============================================================================================
===============================================================================================
  {% comment %}

    Re-use the 'rte' class wherever you output content that was added by a merchant using the Rich Text Editor ( 'rte' stands for rich text editor ).
    Style all HTML elements in that content the same way across the board.
    Use the 'rte' class in your CSS to help maintain that consistency.
    Example: the h2 element should have the same size and color in:
    - product descriptions
    - collection descriptions
    - page content
    - blog posts
  {% endcomment %}

  {% comment %}
    Very important reading:
    http://docs.shopify.com/themes/liquid-basics/what-is-true-and-false-in-liquid
    Learn how to read theme settings in your theme.
  {% endcomment %}

  {% unless settings.homepage_page == blank or pages[settings.homepage_page].empty? %}
  {% assign page = pages[settings.homepage_page] %}
  <div class="rte grid-margins">
    {{ page.content }}
  </div>
  {% endunless %}

  {% unless settings.homepage_collection == blank or collections[settings.homepage_collection].empty? %}
  {% assign collection = collections[settings.homepage_collection] %}
  <ul class="grid clearfix">
  {% for product in collection.products %}
    {% include 'product-grid-item' with 'three-per-row' %}
  {% else %}
  <li>
    <p>
      You have no products in your {{ collections[settings.homepage_collection].title }} collection. 
      <a href="http://www.shopify.com/admin/collections">Add some.</a>
    <p>
  </li>
  {% endfor %}
  </ul>
  {% endunless %}

{% endcomment %}